{% extends 'generic/_base.html' %}
{% load i18n %}

{% block content %}
<script type="text/javascript">

    function printPageArea(areaID)
    {
        window.print();
    }

</script>

<style>
.a4-sheet {
    width: {{ page_width }};
    height: {{ page_height }};
    background: white;
    box-sizing: border-box;
}
.qr-preview-grid {
    display: grid;
    grid-template-columns: repeat({{ grid.columns }}, auto);
    grid-auto-rows: auto;
    row-gap: {{grid.row_element_offset}}{{scale}};    /* vertical spacing */
    column-gap: {{grid.column_element_offset}}{{scale}};  /* horizontal spacing */
    padding-top: {{ page_top_margin }};
    padding-right: {{ page_right_margin }};
    padding-bottom: {{ page_bottom_margin }};
    padding-left: {{ page_left_margin }};
}

.qr-preview-item {
    /* optional styling for each QR cell */
    border: 1px solid #ccc;
    padding: 5px;
}
.a4-sheet .qr-preview-item {
  border: none;
  padding: 0;
}
@media print {
    @page {
        margin: 0;
    }
    body * {
        visibility: hidden;
    }
    #preview, #preview * {
        visibility: visible;
    }
    #preview {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
    }
}
</style>

<h2>{% trans "QR Code Print Preview" %} ({{ model|meta:"verbose_name_plural"|capfirst }})</h2>
<div id="preview" class="a4-sheet">
    <div class="qr-preview-grid">
        {% for obj, qr_html, pos in objects %}
            <div class="qr-preview-item" data-row="{{ pos.0 }}" data-col="{{ pos.1 }}">
                <div>{{ qr_html|safe }}</div>
            </div>
        {% endfor %}
    </div>
</div>
<button onclick="printPageArea()" ; class="btn btn-xs btn-primary">
    <i class="mdi mdi-printer" aria-hidden="true"></i> Print
</button>

{% endblock %}
